@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #dee2e6;
}

.Apresentacao{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: justify;
    font-family: "Lato", sans-serif;
}

.Sobre{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 35px;
    text-align: justify;
    font-family: "Lato", sans-serif;
}